#page{
    position: relative;
}

.content1{
    background-color: yellow;
    position: relative;
    top: 15px;
}

.content2{
    background-color: green;
    position: absolute;
    width: 100%;
    top: 65px;
}

.ct2{
    background-color: red;
    position: relative;
    /*top: 35px;*/
}

.ct2 > span{
    display: block;
}

.ctfix{
    position: fixed;
    top: 0;
    right: 100px;
}